In [2]:
#data為二維資料，steak形式
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                 index=[['a','a','a','b','b','c','c','d','d'],
                        [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data
#階層式索引

a  1    2.987525
   2   -0.370374
   3   -0.364309
b  1    0.458371
   2    0.656085
c  3   -2.249484
   1    0.668979
d  2   -0.833592
   3   -1.619517
dtype: float64

In [2]:
data['a']

1   -0.881451
2   -1.885620
3    1.079565
dtype: float64

In [3]:
data['b']

1   -0.200179
2    0.575079
dtype: float64

In [4]:
#將stack形式轉成表格形式
data.unstack()

          1         2         3
a -0.881451 -1.885620  1.079565
b -0.200179  0.575079       NaN
c  1.188610       NaN  0.436861
d       NaN -1.299011  0.883736

In [5]:
data.unstack().stack()

a  1   -0.881451
   2   -1.885620
   3    1.079565
b  1   -0.200179
   2    0.575079
c  1    1.188610
   3    0.436861
d  2   -1.299011
   3    0.883736
dtype: float64

In [9]:
#四維資料
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.arange(12).reshape((4,3)),
             index=[['a','a','b','b'],[1, 2, 1, 2]],
             columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [11]:
frame.stack().stack()

/tmp/ipykernel_30122/3805298217.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  frame.stack().stack()

key1  key2  顏色     縣市
a     1     Green  台北     0.0
                   台中     2.0
            Red    台北     1.0
      2     Green  台北     3.0
                   台中     5.0
            Red    台北     4.0
b     1     Green  台北     6.0
                   台中     8.0
            Red    台北     7.0
      2     Green  台北     9.0
                   台中    11.0
            Red    台北    10.0
dtype: float64

In [13]:
#重排，樞紐分析表
frame.stack(level=['縣市','顏色']).unstack(level='key1')

/tmp/ipykernel_30122/2772677753.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  frame.stack(level=['縣市','顏色']).unstack(level='key1')

key1             a     b
key2 縣市 顏色
1    台中 Green  2.0   8.0
     台北 Green  0.0   6.0
        Red    1.0   7.0
2    台中 Green  5.0  11.0
     台北 Green  3.0   9.0
        Red    4.0  10.0

In [14]:
frame.stack(level=['縣市','顏色']).unstack(level=['key1','縣市'])

/tmp/ipykernel_30122/1980299800.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  frame.stack(level=['縣市','顏色']).unstack(level=['key1','縣市'])

key1          a          b
縣市           台中   台北    台中    台北
key2 顏色
1    Green  2.0  0.0   8.0   6.0
     Red    NaN  1.0   NaN   7.0
2    Green  5.0  3.0  11.0   9.0
     Red    NaN  4.0   NaN  10.0