In [1]:
import pandas as pd
data = {'字串':['台北','台中'],
        "整數":[1000,3000],
        "浮點數":[3.258,7.396]}
df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [4]:
#視覺美化
#需先下載 jinja2
#pip install jinja2
df.style.\
format(precision=2,thousands=',',decimal='.')\
.relabel_index(["列1",'列2'])

In [10]:
import numpy as np
import pandas as pd
data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
             index = pd.date_range(start='20240324',periods=10),
             columns = ['台北','台中']
             )
df

                  台北        台中
2024-03-24  1.054539  3.402551
2024-03-25  2.378512  1.716330
2024-03-26  0.410519  4.864817
2024-03-27  0.022196  0.861612
2024-03-28  1.332255  4.425238
2024-03-29  0.378413  4.898319
2024-03-30  0.828776  0.177354
2024-03-31  2.552788  3.674341
2024-04-01  2.153046  4.009048
2024-04-02  4.446656  3.875284

In [22]:
#pd.date_range() 函數測試
pd.date_range(start='2024-1-1',end='2024-1-10')
pd.date_range(start='2024-01-01', periods=10)
#以一周7天為單位，輸出每周最後一天的日期
pd.date_range(start='2024-01-01', end='2024-12-31', freq='W')
#以月為單位，輸出每月最後一天的日期
pd.date_range(start='2024-01-01', end='2024-12-31', freq='ME')
#以月為單位，輸出每月最後一個工作日的日期
pd.date_range(start='2024-01-01', end='2024-12-31', freq='BME')
#
pd.date_range(start='2024-01-01', end='2024-12-31', tz='UTC')

#pd.date_range() 日期參數有格式要求
#ISO 8601 标准日期格式：'YYYY-MM-DD'
#美国日期格式：'MM/DD/YYYY'
#欧洲日期格式：'DD/MM/YYYY'
#其他常见日期格式

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-29', '2024-04-30',
               '2024-05-31', '2024-06-28', '2024-07-31', '2024-08-30',
               '2024-09-30', '2024-10-31', '2024-11-29', '2024-12-31'],
              dtype='datetime64[ns]', freq='BME')

In [4]:
#視覺美化資料表
def feel_condition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮濕"
    else :
        return "日曬"

df.style.format(feel_condition).set_caption("體感溫度").background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=None)

In [5]:
#隱藏資料
df = pd.DataFrame(np.random.randn(5,5))
df.style.\
hide(subset=[0,2,4],axis=0)\
.hide(subset=[1,3],axis=1)