In [3]:
import pandas as pd 
import numpy as np

s1  = pd.Series([4.5,7.2,-5.3,3.6],index=['b','d','a','c'])
s1

b    4.5
d    7.2
a   -5.3
c    3.6
dtype: float64

In [4]:
#屬性不加()
s1.index

Index(['b', 'd', 'a', 'c'], dtype='object')

In [5]:
s1.values

array([ 4.5,  7.2, -5.3,  3.6])

In [8]:
#reindex() 方法可以重排索引順序 或 更改索引數量
display(s1.reindex(['a','b','c','d']))

print('====================')
display(s1.reindex(['c','b']))

a   -5.3
b    4.5
c    3.6
d    7.2
dtype: float64

====================

c    3.6
b    4.5
dtype: float64

In [12]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.arange(9).reshape(3,3),
                     index=['a','c','d'],
                     columns=['台北','台中','高雄'])
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [13]:
frame.reindex(['d','a'])

   台北  台中  高雄
d   6   7   8
a   0   1   2

In [14]:
frame.reindex(['d','a'],columns=['高雄','台北','台中'])

   高雄  台北  台中
d   8   6   7
a   2   0   1