In [4]:
import pandas as pd
import numpy as np

#np.random.randn 可以直接設定需要的維度的資料
frame = pd.DataFrame(np.random.randn(4,3),
             columns = ['b','d','e'],
             index = ["台北","台中","台南","高雄"])
frame

           b         d         e
台北 -0.103703  0.894691 -0.996525
台中  0.763138 -0.889450  0.874358
台南  0.456496 -1.119739 -1.282618
高雄  0.233038 -1.211028  1.115603

In [5]:
#取絕對值，mumpy 是可以用在DataFrame 上的
np.abs(frame)

           b         d         e
台北  0.103703  0.894691  0.996525
台中  0.763138  0.889450  0.874358
台南  0.456496  1.119739  1.282618
高雄  0.233038  1.211028  1.115603

In [6]:
#使用numpy作統計的動作

#全部平均
display(np.mean(frame))
#對直行做平均
display(np.mean(frame,axis=0))
#對橫列做平均
display(np.mean(frame,axis=1))

-0.10547838587998289

b    0.337242
d   -0.581382
e   -0.072296
dtype: float64

台北   -0.068513
台中    0.249348
台南   -0.648620
高雄    0.045871
dtype: float64

In [ ]:
#同上，取平均
#dataFrame.mean()
display(frame.mean())
display(frame.mean(axis=1))

In [8]:
#Series也能做.mean()
display(frame.loc['台北'].mean())
display(np.mean(frame.loc['台北']))

-0.06851258553013839

-0.06851258553013839