In [ ]:
#下載 pandas，利用pandas 增加 Series 和 Dataframe 兩種資料類型

In [1]:
import numpy as np

student = np.array([67,88,96,74,55])
student[0]

#array只有索引編號，沒有key值

67

In [4]:
import pandas as pd

s1 = pd.Series([67,88,96,74,55],index=['國','英','數','社','自'])
s1

國    67
英    88
數    96
社    74
自    55
dtype: int64

In [5]:
#Series 也能陣列運算
s1 + 3

國    70
英    91
數    99
社    77
自    58
dtype: int64

In [6]:
for i in s1:
    print(i)

67
88
96
74
55

In [12]:
#numpy 的統計方法可以套用在pandas 上
import numpy as np
import pandas as pd
s1 = pd.Series([67,88,96,74,55],index=['國','英','數','社','自'])
print(s1)
print(f"加總為:{np.sum(s1)}")
print(f"平均為:{np.mean(s1)}")
print(f"標準差為:{np.std(s1)}")
print(f"中間值為:{np.median(s1)}")

國    67
英    88
數    96
社    74
自    55
dtype: int64
加總為:380
平均為:76.0
標準差為:14.628738838327793
中間值為:74.0

In [17]:
#Dataframe，由多個 Series 組成
import pandas as pd
pd.DataFrame({
    '陳楷仁':[70,80,90,75,85],
    '黃xx':[67,88,96,74,55],
    '劉xx':[99,55,72,65,93]
},index=['國','英','數','社','自'])

   陳楷仁  黃xx  劉xx
國   70   67   99
英   80   88   55
數   90   96   72
社   75   74   65
自   85   55   93

In [18]:
import numpy as np
import pandas as pd

data = np.random.randint(50,high=100,size=[50,5])
pd.DataFrame(data,
             index = range(1,51),
             columns = ['國','英','數','社','自']
             )

     國   英   數   社   自
1   90  51  73  55  82
2   88  66  72  69  68
3   56  81  93  76  99
4   89  68  77  97  88
5   82  97  88  55  63
6   99  55  94  76  90
7   59  61  53  79  78
8   98  79  98  59  79
9   97  60  57  59  68
10  56  56  62  80  90
11  60  73  98  51  63
12  74  91  73  90  80
13  73  71  91  92  86
14  63  57  94  52  79
15  62  51  57  78  87
16  68  59  91  82  75
17  56  61  61  56  93
18  94  87  53  73  53
19  96  65  93  81  73
20  91  51  91  62  59
21  98  79  97  93  74
22  93  89  55  80  81
23  99  97  84  79  78
24  61  82  66  94  99
25  99  88  61  68  94
26  55  64  96  81  65
27  74  52  95  70  80
28  59  50  98  88  73
29  89  59  58  56  85
30  66  85  73  98  83
31  98  63  76  89  75
32  82  92  89  66  56
33  85  79  97  90  88
34  85  74  72  62  75
35  88  91  79  98  68
36  51  93  84  68  82
37  95  87  99  83  99
38  89  50  91  82  57
39  95  64  69  67  60
40  66  67  76  59  67
41  71  73  81  82  96
42  66  70  55  73  77
43  73  57  72  87  87
44  54  98  99  67  55
45  94  80  57  53  60
46  83  94  82  90  62
47  77  91  96  72  69
48  61  82  53  91  58
49  98  88  82  91  55
50  80  95  75  69  59