In [8]:
import pandas as pd
s1 = pd.Series([2,6,5,4])
s1

0    2
1    6
2    5
3    4
dtype: int64

In [10]:
import pandas as pd
s2 = pd.Series([4,6,9,8,5],index=['a','c','d','b','e'])
s2

a    4
c    6
d    9
b    8
e    5
dtype: int64

In [5]:
#屬性(attribute)不加括弧
s2.index

Index(['a', 'c', 'd', 'b', 'e'], dtype='object')

In [6]:
s2.values

array([4, 6, 9, 8, 5])

In [13]:
display(s2)
print('===========')
display(s2['a'])
s2['a'] = 10
print('===========')
display(s2)
print('===========')
display(s2[['d','c','e']])

a    4
c    6
d    9
b    8
e    5
dtype: int64

===========

4

===========

a    10
c     6
d     9
b     8
e     5
dtype: int64

===========

d    9
c    6
e    5
dtype: int64

In [14]:
display(s2)
print('===========')
display(s2 * 2)

a    10
c     6
d     9
b     8
e     5
dtype: int64

===========

a    20
c    12
d    18
b    16
e    10
dtype: int64

In [15]:
import numpy as np
display(s2)
print('===========')
np.exp(s2)

a    10
c     6
d     9
b     8
e     5
dtype: int64

===========

a    22026.465795
c      403.428793
d     8103.083928
b     2980.957987
e      148.413159
dtype: float64

In [17]:
'f' in s2, 'a' in s2

(False, True)

In [18]:
#dictionary 建立 Series
import pandas as pd
sdata = {'國':78,'英':88,'數':96,'社':74,'自':85}
s3 = pd.Series(sdata)
s3

國    78
英    88
數    96
社    74
自    85
dtype: int64

In [20]:
s3 = pd.Series(sdata,index=['數','英','自'])
s3

數    96
英    88
自    85
dtype: int64

In [21]:
s4 = pd.Series(sdata,index=['數','英','歷史'])
s4

數     96.0
英     88.0
歷史     NaN
dtype: float64

In [22]:
#使用pandas.isnull()
pd.isnull(s4)

數     False
英     False
歷史     True
dtype: bool

In [23]:
#使用pandas.notnull()
pd.notnull(s4)

數      True
英      True
歷史    False
dtype: bool

In [24]:
#實體方法
s4.isnull()

數     False
英     False
歷史     True
dtype: bool

In [25]:
#實體方法
s4.notnull()

數      True
英      True
歷史    False
dtype: bool

In [35]:
import pandas as pd
data1 = {"北":1000,"中":2000,"南":3000}
s5 = pd.Series(data1)
display(s5)
print('==========')
data2 = {"中":1000,"南":1000,"北":5000}
s6 = pd.Series(data2)
display(s6)
print('==========')
s5 + s6

北    1000
中    2000
南    3000
dtype: int64

==========

中    1000
南    1000
北    5000
dtype: int64

==========

中    3000
北    6000
南    4000
dtype: int64

In [36]:
#只要有一個數值為Nan，則相加為Nan
s6['北'] = None
display(s5)
print('==========')
display(s6)
print('==========')
s5 + s6

北    1000
中    2000
南    3000
dtype: int64

==========

中    1000.0
南    1000.0
北       NaN
dtype: float64

==========

中    3000.0
北       NaN
南    4000.0
dtype: float64

In [38]:
#value 只能取出值，不能修改或覆蓋   
s5.values 

#索引可以更改
s5.index = ['a','b','c']
s5

a    1000
b    2000
c    3000
dtype: int64

In [39]:
s5[:]

a    1000
b    2000
c    3000
dtype: int64

In [5]:
import pandas as pd
sdata = {'台北':35000,'桃園':71000,'台中':16000,'高雄':5000}
s8 = pd.Series(sdata)
#給整個Series取一個名字
s8.name = "台灣4縣市"
display(s8)
print("==========")
s8.index.name = '縣市'
s8

台北    35000
桃園    71000
台中    16000
高雄     5000
Name: 台灣4縣市, dtype: int64

==========

縣市
台北    35000
桃園    71000
台中    16000
高雄     5000
Name: 台灣4縣市, dtype: int64